
<button (click)="save()">save</button>
<p>baodq</p>
<table class="table table-bordered" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Xóa</th>
      <th>Sửa</th>
    </tr>
  </thead>
  <tbody *ngFor="let cate of category">
    <tr>
      <td>{{cate.name}}</td>
      <td><img width="70" src="{{cate.image}}" alt="placeholder+image"></td>
      <td><button type="button" (click)="removeStudent(cate.id)">Xóa</button></td>
      <td><button type="button" (click)="updateStudent(cate)">Sửa</button></td>
    </tr>
  </tbody>
</table>
