<!-- <form>
		<h2>THÊM CATE</h2>
		<label>Name:</label>
		<input type="text" class="name" ><br><br>		
		<label>Avatar:</label>
		<input type="text" class="avatar" >
		<br><br>
		<button style="button" style="width:150px; height: 30px; background: pink; border: 1px solid pink;">Thêm categories</button>
	</form>
<br>


<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Avatar</th>
			<th>Remove</th>
			<th>Edit</th>
		</tr>
	</thead> 
<tbody *ngFor="let cate of category" style="width:25%;">	
	<tr>
		<td>{{cate.name}}</td>
		<td><img [src]="cate.avatar" width="50"></td>
		<td><button type="button" (click)="removeCategory(cate)">Remove</button></td>
		<td><button type="button" (click)="editCategory(cate)">Edit</button></td>
	</tr>
</tbody> 
	
	
	
</table> -->
<!-- <app-cate-edit-form [editItem]="tmpCate" (addEvent) = "addCategory($event)"></app-cate-edit-form>

<app-cate-item *ngFor="let cate of category" [itemCate]="cate" (editEvent)="editCategory($event)" (removeEvent) = "removeCategory($event)"></app-cate-item>
 -->

<div class="container">
	<router-outlet></router-outlet>
</div>